{% extends 'base.html' %}

{% block content %}
{% for product in products.all %}
<div class="container">
    <div class="row">
        <div class="col-sm-10">
            <div class="panel panel-info" >
                <div class="panel-heading" onclick="window.location='{% url 'detail' product.id %}';" style="cursor:pointer;">
                    <div class="panel-title text-center">
                        <h3>{{product.title}}</h3>
                    </div>
                </div>
                <div style="padding-top:30px" class="panel-body" >
                    <div class="col-sm-4" onclick="window.location='{% url 'detail' product.id %}';" style="cursor:pointer;">
                        <img class="img-fluid" src="{{ product.icon.url }}"/>
                    </div>
                    <div class="col-sm-6">
                        <p>{{product.summary}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2 my-auto">
            <a href="javascript:{document.getElementById('upvote{{ product.id }}').submit()}">
                <button class="btn btn-warning btn-sm btn-block"><span class="oi oi-thumb-up"/> UpVote </button>
            </a>
            <br>
            <a href="javascript:{document.getElementById('downvote{{ product.id }}').submit()}">
                <button class="btn btn-warning btn-sm btn-block"><span class="oi oi-thumb-down"/>DownVote</button>
            </a>
            <p class="text-center">Total Votes: {{product.votes_total}}</p>
        </div>
    </div>
</div>
<form id="upvote{{ product.id }}" method="POST" action="{% url 'upvote' product.id %}">
    {% csrf_token %}
    <input type="hidden">
</form>
<form id="downvote{{ product.id }}" method="POST" action="{% url 'downvote' product.id %}">
    {% csrf_token %}
    <input type="hidden"/>
</form>
{% endfor %}
{% endblock %}