{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-2">
            <img class="img-fluid" src="{{product.icon.url}}">
        </div>
        <div class="col-10">
            <a href="{{product.url}}">
                <h2 class="text-primary">{{product.title}}</h2>
            </a>
        </div>
    </div>
    <div class="row pt-2">
        <div class="col-8">
            <img class="img-fluid" src="{{product.image.url}}">
        </div>
        <div class="col-4">
            <a href="javascript:{document.getElementById('upvote').submit()}">
                <button class="btn btn-warning btn-sm btn-block"><span class="oi oi-thumb-up"/> UpVote </button>
            </a>
            <br>
            <a href="javascript:{document.getElementById('downvote').submit()}">
                <button class="btn btn-warning btn-sm btn-block"><span class="oi oi-thumb-down"/> DownVote </button>
            </a>
            <p class="text-center">Total Votes: {{product.votes_total}}</p>
        </div>
    </div>
    <div class="row pt-2">
        <div class="col-4">
            <h4><span class="oi oi-person"></span> {{product.hunter.username}}</h4>
        </div>
        <div class="col-4 text-right">
            <h4><span class="oi oi-clock"></span>  {{product.publicationDate}}</h4>
        </div>
    </div>
    <div class="row pt-2">
        <div class="col-8">
            <h4>{{product.body}}</h4>
        </div>
    </div>
    <form id="upvote" method="POST" action="{% url 'upvote' product.id %}">
        {% csrf_token %}
        <input type="hidden"/>
    </form>
    <form id="downvote" method="POST" action="{% url 'downvote' product.id %}">
        {% csrf_token %}
        <input type="hidden"/>
    </form>
</div>


{% endblock %}